.Welcome {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 84.4vh;
    background-color: #f4f4f4;
    /* color: #333; */
  }
  
  .header {
    background-color: #e0f2f7;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  nav li a:hover {
    color: #007bff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .main {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-grow: 1;
  }
  
  .dashboard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 2;
  }
  
  .dashboard .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  

  .welcome {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }